<div style="margin-top: 30px" class="container">
<form action="home/write" method="GET">
  <div class="col-md-12 form-group">
    <p><center><h1>신이 나를 만들 때</h1><BR><BR><%= image_tag "default.png" %></center></p>  
    <!--<label for="exampleInputTitle1" >제목</label>-->
  </div>
  <div style="margin-left: 390px; margin-right: 390px" class="col-md-4 form-group">
  <input type="text" name="name" class="form-control" id="exampleInputTitle1" placeholder="이름을 입력해주세요">
  </div>
  <div style="margin-left: 10px" class="col-md-12 form-button">
  <center><button type="submit" class="btn btn-default">시작하기</button></center>
  </div>
</form>
</div>